In [1]:
# Import dependencies.
import pandas as pd

In [2]:
# Define a path to the csv files we want to read.
school_data = 'Resources/schools_complete.csv'
student_data = 'Resources/students_complete.csv'

In [4]:
# Read the school and student csv files and store their contents in DataFrame
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

# Merge the two files into a single data set to work with. 
merged_df = pd.merge(school_df, student_df, how = 'left', on = ['school_name','school_name'])
merged_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84